<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= render 'partials/brand' %>
</nav>

<%= form_for @article, url: articles_path, class: "form-inline my-2 my-lg-0", local: true do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <textarea class="form-control" name="article[body]" required type="text"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <button class="btn btn-primary" type="submit">Add</button>
    </div>
  </div>

<% end %>


